
<section id="work" data-ng-controller='workController as workctrl'>

	<div class="container work">
		<h2>Work Experience</h2>
		<hr class="hrborder" />

		<div class="row rowAlign">
			<div class="col-sm-9" data-ng-repeat="work in workctrl.workExps">
				<div class="row rowStyle">
					<div class="col-xs-6 col-sm-6 summary">
						<strong><p>{{work.company}}</p></strong>
						<p>{{work.employmentDate}}</p>
						<p>{{work.location}}</p>
					</div>
					<div class="col-xs-6 col-sm-6 contentALign">
						<strong>{{work.position}}</strong>
						<p>{{work.summary}}</p>
						<div class="workDetailLabel">
								<a class="workDetailLink" data-ng-click="work.isCollapsed = !work.isCollapsed">{{work.details}}</a>
						</div>
						<div collapse="work.isCollapsed">
							<div class="well well-sm workwellStyle">{{work.extraInfo}}</div> 
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

</section>