.work h2 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

.work .hrborder {
	border: 2px solid transparent;
	width: 50%;
	border-image: url(../../asset/img/diamond-logo.jpeg) 30 stretch;
	position: relative;
	top:15px;
	bottom: 10px;
}

.workDetailLabel {
	text-align: center;
}

.work .summary p {
	position:relative;
	left: 200px;
	text-align: right;
	width: 52%;	
	margin: 0;
}


.workDetailLabel {
	text-align: left;
}

.workwellStyle {
	background-color: #222;
	border: none;
	color: #B0B0AC;
}
