.work h2 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

.work .hrborder {
	border: 2px solid #fff;
	width: 50%;
	position: relative;
	top:15px;
	bottom: 10px;
}

.workDetailLabel {
	text-align: center;
}

.work .summary p {
	position:relative;
	margin: 0;
}

.workwellStyle {
	background-color: #222;
	border: none;
	color: #B0B0AC;
}
