



.body {
	background-color: #222;
 	border-color: #080808;	
}

.active a {
	background-color: #222 !important;
}

.container .nav li:hover {
	border-bottom: 0.1em solid #fff;
}

.container .navbar-brand p {
	color: #fff;
}

.container .navbar-inverse {
	border-color: #222;
	background-color: #222;
}

hr {
	border-top: #222;
}

.footer {
	position: relative;
	
	color: #fff;
}

.footer table {
	width: 100%;
}

.footer tr {
	padding-bottom: 15px;
	padding-top: 15px;
}

.footer li {
	display: inline;
}


.footSignature {
	postion:relative;
	text-align: right;
}

.footCreated {
	text-align: left;
}	

.logocontainer {
    width: 50px;
    height: 20px;
}

/* resize images */
.logocontainer img {
    width: 100%;
    height: auto;
}


/* For summary pages */
.contentAlign {
	text-align:left
}

.summary {
	text-align: right !important;
	
}

.lastUpdate {
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

.navbar-brand {
	padding-top:10px;
}

.navbar-brand h2 {
	color :#fff;
	margin-top: 0;
}

.subh2 {
	font-size: 40%;
}


